* {
  /* preferences */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font for all text  */
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Oxygen, Ubuntu,
  Cantarell, "open sans", "helvetica neue", sans-serif;
}

html {
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
}

body {
  width: 99vw;
  height: 100vh;
}

.content {
  margin-top: 0.6%;
  height: 95%;
  width: 100%;
  background-color: #080808;
  border-radius: 25px;
  padding: 2%;
  color: #c5c5c5;
}