*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}
span{
  color: rgb(20,135,223);
}
header {
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}
header.sticky{
  background: #3a6cf4;
  padding: 10px 200px;
}
header .left
{
    margin-left: -110px;
}
header .brand{
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation a{
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .navigation a:hover{
  color: #3a6cf4;
}

header.sticky .navigation a:hover{
  color: #000;
}
/*
nav > h1 {
  flex-grow: 1;
}

nav > a {
  text-decoration: none;
  margin: 0 10px;
  color: #e7e9eaf8;
  font-weight: 550;

  /* for underline effect *
  display: inline-block;
  position: relative;
}

nav > a:after {
  content: '→';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: purple;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav > a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
*/
.logo-icon {
  height: 26px;
  animation: spin-animation 5s infinite;
  user-select: none;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
    padding: 6px 6px 0 0;
  }
  25% {
    transform: rotate(90deg); 
    padding: 6px 0 0 6px; 
  }
  50% {
    transform: rotate(180deg);
    padding: 0 0 6px 6px;
  }
  75% {
    transform: rotate(270deg);
    padding: 0 6px 6px 0;
  }
  100% {
    transform: rotate(359deg);
    padding: 6px 6px 0 0;
  }
}