.content {
  padding: 2.5%;
}

.project-grid {
  height: 100%;
  width: 100%;


   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  gap: 5% 3%;

  background-color: #1e1e1e;
  padding: 1%;
  border-radius: 15px;
}

.project {
  height: 100%;
  width: 100%;

  border-radius: 20px;

  border: 1px solid #eeeeee;

  position: relative;
}

.project > img {
  height: 75%;
  width: 100%;
  border-radius: 20px 20px 0 0 ;
  
}

.project:hover {
  box-shadow: 0 0 12px #666666;
  transition: 300ms;
}



.img {
  background-color: rgb(0, 81, 106);
  height: 75%;
  width: 100%;
  border-radius: 20px 20px 0 0 ;
}

.project > p {
  position: absolute;
  top: 0;
  right: 10%;
  border-radius: 5px;
  padding: 1px 5px;
  font-size: 10px;
  background-color: rgb(31, 31, 31);
}

.project-info-container {
  margin: 1% 0 0 2.5%;
}

.title-maintainer-container {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.title-maintainer-container > h3 {
  font-size: 14px;
}

.project-info-container > p {
  font-size: 10px;
}

.title-maintainer-container > img {
  height: 20px;
  border-radius: 100%;
  margin: 1% 2.5% 0 0;
}