.content {
  padding: 2.5%;
}

.project-grid {
  height: 100%;
  width: 100%;


   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  gap: 5% 3%;

  background-color: #1e1e1e;
  padding: 1%;
  border-radius: 15px;
}

.project {
  height: 100%;
  width: 100%;

  border-radius: 20px;

  border: 1px solid #eeeeee;


}

.project > img {
  height: 65%;
  width: 100%;
  border-radius: 20px 20px 0 0 ;
}

.project:hover {
  box-shadow: 0 0 12px #666666;
  transition: 300ms;
}

